
<p>cesprods works! The AG Grid for  Prods angular tag will go here</p>

 <div>  
 	 <tbody>
          <tr >
            <td>
            	as
            </td>
           </tr>
         </tbody>   
     <div class="card-body ag-theme-alpine">
            <!--    <ag-grid-angular
                  style="width: 500px; height: 220px;"
                  class="ag-theme-alpine"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs">
                  </ag-grid-angular> -->
            </div>
    <ul>
	  <li>
test
	</li>
	</ul>
	</div>